    <!DOCTYPE html>
    <html>
        
        <head >
           
            <title>learning</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="main.css">
        
            <div  class="box1">
                <div  class="idea"  title="feature is being updated"> 
                   <ul class="idea_cha">
                       <a herf="" class="idea_con">Trang chủ </a>
                       <a herf="" class="idea_con">giới thiệu</a>
                       <a herf="" class="idea_con">thông tin liên hệ</a>
                   </ul> 
                   <ul class="idea_cha" class="login">
                       <a herf="" class="idea_con">regiter</a>
                       <a herf="" class="idea_con">login</a>
                   </ul>
                </div>
               </div>
               <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        </head>
            
        <body> 
            <div class="tag" id="body_setup">
                <ul  class="box2-cha">
                    <li id="h1_iconli">list nhạc bạn có thể thích </li>
                    <li class="iconli"><a class="box2 box2-con" href="https://www.youtube.com/watch?v=6eONmnFB9sw">Chuyện Đôi Ta</a></li>
                    <li class="iconli"><a class="box2 box2-con" href="https://www.youtube.com/watch?v=MDErQ1KTzaI&list=RDMDErQ1KTzaI&start_radio=1">HEARTSTEEL-PARANOIA</a>
                    <li class="iconli"><a class="box2 box2-con" href=""> ...</a></li>
                    <li class="iconli"><a class="box2 box2-con" href=""> ...</a></li>
                    <li class="iconli"><a class="box2 box2-con" href=""> ...</a></li>
                    <li class="iconli"><a class="box2 box2-con" href=""> ...</a></li>
                </ul>
                <ul class="body_1">
                    <div>hi</div>
                </ul>
            </div>
           
<!--             
                <img  src="../publics/picture_1.jpg" alt="xinchao">
            <a tag href="https://www.facebook.com/profile.php?id=100085039632583&locale=vi_VN"> fb của tôi</a>
            <table class="TTCN">
                <thead class="tt">
                    <th >tên</th>
                    <th id="sn">sn</th>
                    <th >st</th>
                
                    
                </thead>
                <tbody>
                    <tr>
                        <td>toàn</td>
                        <td>04/11</td>
                        <td>game</td>
                    </tr>
                </tbody>
            </table> -->
            
        </body>
    </html>
