<!DOCTYPE html>
<html>
     
    <head>
       <title>learning</title>
       <meta charset="utf-8">
       <link rel="stylesheet" href="main.css">
       <div style="display: flex ; font-family: 'Courier New', Courier, monospace;" title="huh;-;"> 
        <h1 id="td">✘</h1>
        <h2 style="font-family:'Courier New', Courier, monospace" >innn chào mn...</h2>
       </div>
       
    </head>
        
    <body>
       <img  src="../publics/picture_1.jpg" alt="xinchao">
        <a tag href="https://github.com/toanc1r1?tab=repositories"> Github của tui</a>
        <table>
            <thead class="ttcn">
                <th >tên</th>
                <th >sn</th>
                <th >st</th>
            
                
            </thead>
            <tbody>
                <tr>
                    <td>toàn</td>
                    <td>04/11</td>
                    <td>game</td>
                </tr>
            
            </tbody>
        </table>
    </body>
</html>
