 
  
  div{ 
      font-size: 20px;
      text-align:justify;
  }
  
    *{
       color :black;
    }
    img{
      margin: 110px 0px 0px 50px ;
      border-width:3px;
      border-style:solid;
      width:50px;
      height:50px;
      top: 50;
      

    }
    .tt{
      font-size: 25px;
     
      /* display: flex; */
    }
    #sn{
      
    }
    a{
      
      color :var(--1);
      margin-top: px;
      margin-left:10px;
    }
    a:active {
      color :red
    }
    :root{
      --1: lightblue; 
    }
    #td{
      font-size:30px;
     
    }
    h1::selection{
      color :dimgray
    }
    h1::first-letter{
      color:brown;
      font-size: 55px;
      
    }
    .box1{
      display:flex;
      align-items:center;
      justify-content: center;
      background-color:aliceblue;
      width: 325px;
      height:50px;
      border: 10px double black ;
      margin: 0px 0px 0px 37%;
      position:fixed;
      top :0;
      
      /* border-style: ; */
      padding: 7px  ; 
    }
    .TTCN{
      border-width: 3px;
      border-style:solid;
      margin-left:50px;

    }
    body{
      height:1000px;
    }
   