div
{
    
    font-size: 50px;
    text-align:justify;
 }
 
  *
  {
    color :black;
  }
  img
  {
    width:100px;
    height:100px;

  }
  .ttcn
  {
    font-size: 25px;
  }
  a
  {
    color :var(--1);
  }
  :root
  {
    --1: lightblue; 
  }
  #td
  {
    font-size:75px;
    color:brown
  }